<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReportGenerator</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReportGenerator.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar rg-navbar">
            <div class="container rg-navbar-container">

                <!-- Строка 1: логотип -->
                <div class="rg-navbar-top">
                    <a class="navbar-brand rg-brand" asp-area="" asp-controller="Home" asp-action="Index" title="На главную">
                        <img src="/img/ar.logo.png" alt="ReportGenerator" class="rg-brand-logo" />
                    </a>
                </div>

                <!-- Строка 2: меню -->
                <div class="rg-navbar-bottom">
                    <div class="rg-nav">
                        <a class="rg-nav-link" asp-controller="Home" asp-action="Index">Генератор отчетов</a>
                        <a class="rg-nav-link" asp-controller="Home" asp-action="LogInfo">Логи</a>
                        <a class="rg-nav-link" asp-controller="Home" asp-action="Monitoring">Мониторинг</a>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ReportGenerator - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
